@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

@media (max-width: 768px) { 

    h1 {

        font-size: 20px;

    }

    p {

        font-size: 15px;

    }

    .logo-raspbian {

        width: 25% !important;

    }

}

* {

    margin: 0;
    padding: 0;

}

body {

    background-color: #1e1e1e;

}

h1 {

    font-family: 'Raleway', Verdana;
    color: white;

}

p {

    font-family: 'Raleway', Verdana;
    color: white;

}

.back {

    color: white;
    padding-top: 25px;
    text-decoration: none;
    font-family: 'Raleway', Verdana;

}

.back:visited {

    color: white;
    text-decoration: none;
    font-family: 'Raleway', Verdana;

}

.download {

    margin-top: 50px;

}

.logo-raspbian {

    width: 5%;
    display: inline-block;
    padding-bottom: 10px;

}

.opening-header {

    margin-top: 50px;

}

.closing {

    text-align: center;
    margin-top: 50px;

}

.closing-header {

    margin-top: 5px;

}


.text {

    margin-top: 25px;

}

.link {

    text-decoration: none;
    color: #dc143c;

}

.link:hover {

    text-decoration: underline;

}
